NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

AUTH_KEYCLOAK_ID=[OAUTH_CLIENT_ID]
AUTH_KEYCLOAK_SECRET=[OAUTH_CLIENT_SECRET]
AUTH_KEYCLOAK_ISSUER=https://auth.oauthd.me/realms/[TENANT_NAME_HERE]

KEYCLOAK_BASE_URL=https://auth.oauthd.me

NEXT_PUBLIC_KEYCLOAK_REALM=[TENANT_NAME_HERE]
NEXT_PUBLIC_KEYCLOAK_URL=https://auth.oauthd.me
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=[OAUTH_CLIENT_ID]
